.b-cart-summary-asset {
    align-items: center;
    display: flex;
    font-size: $font-size-small;
    margin-top: baseline(12);
    padding: baseline(1) rem(10);

    @media (--extra-small) {
        background-color: color(white);
        margin-top: 0;
        padding: baseline(1) #{map-get($outer-margins, "-xs")} baseline(3);
    }

    &__icon {
        font-size: rem(25);
        margin-right: rem(16);
    }
}
