.b-error-page {
    display: flex;
    flex-wrap: wrap;

    &__image-wrapper {
        width: 50%;
    }

    &__content-wrapper {
        margin-left: 10%;
        margin-top: baseline(2.5);
        width: 40%;

        @media (--to-small) {
            margin-left: 0;
            margin-top: baseline(3);
        }
    }

    &__image-wrapper,
    &__content-wrapper {
        @media (--to-small) {
            width: 100%;
        }
    }

    &__title {
        @include t-hero-title;

        color: color(blue);
        margin-bottom: baseline(2);

        @media (--to-small) {
            font-size: $font-size-larger;
            line-height: $line-height-larger;
        }
    }

    &__code {
        font-size: $font-size-medium;
        font-weight: $font-main-bold;
        margin-bottom: baseline(2);
    }

    &__text {
        margin-bottom: baseline(1);
    }

    &__link {
        font-weight: $font-main-bold;
    }
}
