.l-site-offline {
    max-width: rem(360);
    width: 100%;

    @media (--extra-small) {
        max-width: auto;
        align-self: flex-start;
        margin-top: baseline(10);
    }
}

.p-site-offline {
    align-items: center;
    background-color: color(blue);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
