.b-account-title {
    @include t-subpage-title(false);

    font-weight: $font-main-bold;
    margin-bottom: baseline(4);
    text-align: center;

    @media (--extra-small) {
        margin: baseline(4) 0;
    }
}
