// Select
//
// markup:
// <div class="f-field f-field--select">
//     <label class="f-label">
//         <span class="f-label__text">Select title (requires select2 js plugin)</span>
//     </label>
//     <div class="f-field__inner">
//         <select class="f-select js-select">
//             <option value="Option value 1">Option value 1</option>
//             <option value="Option value 2">Option value 2</option>
//         </select>
//     </div>
// </div>
//
// Styleguide 6.4

.f-select,
%f-select {
    background-color: color(grey, 4);
    height: $height-form-field;
    line-height: $height-form-field;
    padding: 0 rem(22) 0 rem(12);
    white-space: nowrap;

    @include f-state-error {
        &,
        ~ .select2-container .select2-selection {
            border-color: $color-error;
        }
    }

    @include f-state-focus {
        &,
        ~ .select2-container .select2-selection {
            border-color: color(blue, light);
        }
    }
}

.f-field--select .f-field__inner,
.select2-selection__arrow {
    @include icon(select-arrows, before) {
        color: color(grey);
        font-size: rem(18);
        pointer-events: none;
        position: absolute;
        right: rem(10);
        top: baseline(2);
    }
}

.f-field--select .f-field__inner-image,
.select2-results__option-image {
    border-radius: 50%;
    box-shadow: 0 0 1px 0 color(grey, 2) inset;
    flex-shrink: 0;
    height: baseline(2);
    margin-right: baseline(1);
    overflow: hidden;
    width: baseline(2);
}

.f-field--select .f-field__inner-image {
    margin-left: baseline(1.5);

    + .f-select {
        padding-left: baseline(4.5);
    }
}

.select2-selection {
    @include transition((background-color, border-color, color));
    @include f-state-focus {
        border-color: color(grey, 2);
    }

    &__arrow::before {
        @include transition(color);
    }

    .select2-container--open.select2-container--open & { // double class to raise priority of styles for open state
        background-color: color(blue, light);
        border-color: color(blue, light);

        &,
        &__arrow::before {
            color: color(white);
        }
    }
}

.select2-dropdown {
    background-color: color(white);
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-regular;
    transform: translateY(baseline(1));
    overflow: hidden;
    padding: baseline(1);

    &--above {
        transform: translateY(baseline(-1));
    }
}

.select2-search {
    margin-bottom: baseline(1);

    &__field {
        @extend %f-textinput;
    }
}

.select2-results {
    &__options {
        @include brand-scrollbar();

        padding-right: rem(1);
    }

    &__option {
        border-radius: $border-radius-small;
        font-size: $font-size-small;
        line-height: 1;
        padding: baseline(1);

        &--highlighted,
        .non-touch &:hover {
            background-color: color(grey, 4);
        }
    }

    &__option + &__option {
        margin-top: baseline(1);
    }

    &__message {
        background-color: color(pink, tint);
        font-weight: $font-main-medium;
        pointer-events: none;
    }
}
