// Navigation
//
// Styleguide 7

// Accordion (+ Tabs on Desktop)
//
// This component requires jQuery accordion plugin
//
// markup:
// <div class="b-accordion js-accordion">
//     <h3 class="b-accordion__header">
//         <span class="b-accordion__header-text">Header 1</span>
//     </h3>
//     <div class="b-accordion__content">
//         Some content 1
//     </div>
//     <h3 class="b-accordion__header">
//         <span class="b-accordion__header-text">Header 2</span>
//     </h3>
//     <div class="b-accordion__content">
//         Some content 2
//     </div>
// </div>
// <div class="b-accordion b-accordion--as-tab js-accordion" data-accordion='{"animate": false, "collapsible": false, "isCollapsibleForMode": {"extra-small": true}}'>
//     <h3 class="b-accordion__header">
//         <span class="b-accordion__header-text">Accordion as tab 1</span>
//     </h3>
//     <div class="b-accordion__content">
//         Some content 1
//     </div>
//     <h3 class="b-accordion__header">
//         <span class="b-accordion__header-text">Accordion as tab 2</span>
//     </h3>
//     <div class="b-accordion__content">
//         Some content 2
//     </div>
// </div>
//
// Styleguide 7.1

.b-accordion {
    &__header {
        background-color: color(grey, 4);
        border-radius: $border-radius-small;
        font-weight: $font-main-bold;
        margin-bottom: rem(1);
        padding: baseline(2);

        @media (--extra-small) {
            border-radius: 0;
        }

        &::after {
            font-size: rem(16);
            margin-right: baseline(2);
        }
    }

    &__header-text {
        @include b-toggle-button(
            $active-state-modifier: ".b-accordion__header.ui-accordion-header-active, .b-accordion__header" + $const-expanded,
            $parent-selector: true
        );

        line-height: baseline(2);
        padding-right: 2rem;
    }

    &__values {
        @include transition(max-height);

        color: color(grey);
        font-size: $font-size-small;
        line-height: baseline(2);
        
        &::before {
            content: "";
            display: block;
            height: baseline(0.5);
        }
    }

    &__content {
        padding: baseline(2);
    }

    &--as-tab {
        @media (--from-small) {
            .b-accordion__header {
                background-color: transparent;
                border-radius: 0;
                color: color(grey);
                font-weight: $font-main-regular;

                &:hover::after {
                    background-color: color(grey, 2);
                }

                &::after {
                    border-radius: rem(4) rem(4) 0 0;
                    height: rem(4);
                    margin: 0;
                    position: absolute;
                }

                &.ui-accordion-header-active {
                    color: color(black);
                    font-weight: $font-main-bold;

                    &::after {
                        background-color: color(grey, 2);
                    }
                }
            }

            .b-accordion__header-text {
                padding-right: 0;

                &::before,
                &::after {
                    display: none;
                }
            }

            .b-accordion__content {
                border-top: 1px solid color(grey, 2);
                padding: baseline(3) 0 0;

                ~ .b-accordion__content {
                    display: none;
                }
            }
        }

        @media (--small) {
            .b-accordion__header {
                padding: baseline(2.5) rem(24);
            }
        }

        @media (--from-medium) {
            .b-accordion__header {
                padding: baseline(2.5) rem(38);
            }
        }
    }
}

.ui-accordion-header {
    cursor: pointer;
}
