.b-calendar-tile {
    background-color: color(white);
    border: 1px solid color(grey, 2);
    border-radius: $border-radius-small;
    line-height: normal;
    padding: baseline(2) baseline(2) baseline(1.5);
    text-align: center;

    &__name {
        font-size: $font-size-medium;
        font-weight: $font-main-medium;
        margin-bottom: baseline(2);
    }

    &__day {
        font-size: $font-size-small;
    }

    &__date {
        font-size: $font-size-larger;
    }

    &__time {
        color: color(grey);
    }

    &__price {
        font-size: $font-size-medium;
        font-weight: $font-main-bold;
        margin-top: baseline(2);
    }
}
