// Tabs
//
// This component requires jQuery tabs plugin
//
// markup:
// <div class="b-tabs js-tabs">
//     <ul class="b-tabs__nav">
//         <li class="b-tabs__item ui-tabs-active"><a href="#tab-11" class="b-tabs__anchor">Tab Header 1</a></li>
//         <li class="b-tabs__item"><a href="#tab-12" class="b-tabs__anchor">Tab Header 2</a></li>
//         <li class="b-tabs__item"><a href="#tab-13" class="b-tabs__anchor">Tab Header 3</a></li>
//     </ul>
//     <div id="tab-11" class="b-tabs__content">
//         Some tab content 1
//     </div>
//     <div id="tab-12" class="b-tabs__content">
//         Some tab content 2
//     </div>
//     <div id="tab-13" class="b-tabs__content">
//         Some tab content 3
//     </div>
// </div>
//
// Styleguide 7.2

.b-tabs {
    &__anchor {
        color: color(grey, 2);
        font-weight: $font-main-bold;
        padding: baseline(2.5) rem(38);

        .ui-tabs-active & {
            color: color(black);
        }
    }

    &__item {
        border-bottom: 1px solid color(grey, 2);

        &:hover::after {
            background-color: color(grey, 2);
        }

        &::after {
            border-radius: rem(4) rem(4) 0 0;
            bottom: 0;
            content: "";
            height: rem(4);
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    &__content {
        margin-top: baseline(3);
    }

    &.ui-tabs-active {
        &::after {
            background-color: color(grey, 2);
        }
    }
}

// Custom Tabs
//
// This component requires jQuery tabs plugin. Can be used i.e on Size guides as button selector.
//
// markup:
// <div class="b-custom-tabs js-tabs">
//     <ul class="b-custom-tabs__list">
//         <li class="b-custom-tabs__item ui-tabs-active"><a href="#tab-21" class="b-custom-tabs__link">Tab Header 1</a></li>
//         <li class="b-custom-tabs__item"><a href="#tab-22" class="b-custom-tabs__link">Tab Header 2</a></li>
//         <li class="b-custom-tabs__item"><a href="#tab-23" class="b-custom-tabs__link">Tab Header 3</a></li>
//     </ul>
//     <div id="tab-21" class="b-custom-tabs__content">
//         Some tab content 1
//     </div>
//     <div id="tab-22" class="b-custom-tabs__content">
//         Some tab content 2
//     </div>
//     <div id="tab-23" class="b-custom-tabs__content">
//         Some tab content 3
//     </div>
// </div>
//
// Styleguide 7.3

.b-custom-tabs {
    &__list {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 baseline(4);

        @media (--extra-small) {
            padding: 0 baseline(2);
        }
    }

    &__item {
        border: 1px solid color(grey, 2);
        border-width: 1px 1px 1px 0;
        transition: background-color $transition-duration-regular, font-weight $transition-duration-regular;

        &:first-child {
            border-width: 1px;
            border-radius: $border-radius-small 0 0 $border-radius-small;
        }

        &:last-child {
            border-radius: 0 $border-radius-small $border-radius-small 0;
        }

        &.ui-tabs-active,
        &:hover {
            background-color: color(grey, 4);
            font-weight: $font-main-bold;
        }

        @media (--extra-small) {
            text-align: center;
            width: 100%;
        }
    }

    &__link {
        display: block;
        color: color(black);
        min-width: rem(110);
        outline: none;
        padding: rem(10) rem(26);

        .non-touch &:hover {
            text-decoration: none;
        }
    }
}