.b-checkout-summary-asset {
    font-size: $font-size-small;
    margin-top: baseline(12);

    @media (--from-small) {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    @media (--extra-small) {
        background-color: color(white);
        margin-top: 0;
        padding: baseline(1) #{map-get($outer-margins, "-xs")} baseline(3);
        padding-top: baseline(5);
    }

    &__item {
        align-items: center;
        display: flex;
        margin-bottom: baseline(2);

        @media (--from-small) {
            margin: 0 baseline(1);
        }
    }

    &__icon {
        font-size: rem(32);
        margin-right: baseline(1.5);
    }
}
