.b-bnr--cart-empty {
    .b-bnr {
        &__image-1,
        &__image-2,
        &__bg-image-1,
        &__bg-image-2 {
            position: absolute;
        }

        &__bg-image-1,
        &__bg-image-2 {
            color: lighten(color(blue, light), 5%);
            font-size: rem(300);
            top: 0;
            z-index: $z-min;

            @media (--small) {
                font-size: rem(260);
            }

            @media (--extra-small) {
                font-size: rem(240);
            }
        }

        &__bg-image-1 {
            left: 0;
            transform: translate(-20%, -20%);
        }

        &__bg-image-2 {
            right: 0;
            transform: translate(20%, 2%);
        }

        &__image-1,
        &__image-2 {
            z-index: $z-small;

            @media (--extra-small) {
                width: rem(200);
            }
        }

        &__image-1 {
            bottom: 0;
            left: rem(30);
            width: rem(280);

            @media (--small) {
                left: rem(20);
            }

            @media (--small) {
                width: rem(220);
            }

            @media (--extra-small) {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__image-2 {
            right: rem(40);
            top: 0;
            width: rem(260);

            @media (--small) {
                right: rem(15);
                width: rem(200);
            }
        }

        &__content {
            @include badge-wave;

            display: flex;
            height: 100%;
            justify-content: center;
            overflow: hidden;
            position: relative;
            top: 0;
            width: 100%;

            @media (--to-small) {
                text-align: center;
            }

            @media (--extra-small) {
                background-size: 220% 70%;
                background-position-x: 70%;
            }
        }

        &__content-inner {
            @include site-width;
            @include block-proportions(480/1020);

            margin: 0;
            max-height: rem(480);
            position: relative;

            @media (--extra-small) {
                @include block-proportions(480/280);
            }
        }

        &__textwrapper {
            padding-top: rem(70);
            position: relative;
            text-align: center;
            width: 100%;
            z-index: $z-small;

            @media (--extra-small) {
                padding-top: rem(40);
            }
        }

        &__title {
            @include t-hero-title;

            margin-bottom: baseline(5);
            text-align: center;

            @media (--extra-small) {
                margin-bottom: baseline(4);
            }
        }

        &__text {
            margin-bottom: baseline(2);
        }
    }
}
