// Video Banners (i.e. Latest from Youtube)
//
// Please refer to Content managment documentation for specific settings: https://alfuttaim.atlassian.net/wiki/spaces/SH/pages/170524709/TRU+-+HP+-+Homepage#TRU-HP-Homepage-LatestfromYoutube(homepage-slot-5)
//
// markup:
// <div class="b-content-slot g-grid__row h-site-width b-content-slot--video">
//     <!-- Content Slot "callout" field is the title -->
//     <h3 class="b-content-slot__title">
//         <span class="b-content-slot__title-text">Latest toy reviews</span>
//     </h3>
//     <!-- 1..3 assets of Content Slot's asset list - each represents video tile -->
//     <div class="b-bnr g-grid__col-4 g-grid__col-xs-12 b-bnr--video">
//         <div class="b-bnr__inner">
//             <!-- VIDEO section is formed automatically from asset's "Video Source" custom field (i.e. youtube video url) -->
//             <div class="b-bnr__video">
//                 <div class="b-video">
//                     <div class="b-video__holder">
//                         <img src="images/banners/video/video-poster-1.jpg">
//                     </div>
//                 </div>
//             </div>
//             <div class="b-bnr__content">
//                 <!-- BEGIN of content asset's BODY field -->
//                 <h4 class="b-bnr__title"><a class="b-bnr__title-link" href="https://www.youtube.com/watch?v=oPGv5t_FbWA" target="_blank">NERF N-Strike Elite Disruptor Blaster</a></h4>
//                 <div class="b-bnr__text">Short description can go onto 2 lines maximum &amp; can work with</div>
//                 <!-- END of content asset's BODY -->
//             </div>
//         </div>
//     </div>
//     <div class="b-bnr g-grid__col-4 g-grid__col-xs-12 b-bnr--video">
//         <div class="b-bnr__inner">
//             <div class="b-bnr__video">
//                 <div class="b-video">
//                     <div class="b-video__holder">
//                         <img src="images/banners/video/video-poster-2.jpg">
//                     </div>
//                 </div>
//             </div>
//             <div class="b-bnr__content">
//                 <h4 class="b-bnr__title"><a class="b-bnr__title-link" href="https://www.youtube.com/watch?v=yhebULM-EFo" target="_blank">Meccano-Erector M.A.X Robotic…</a></h4>
//                 <div class="b-bnr__text">Short description can go onto 2 lines maximum &amp; can work with</div>
//             </div>
//         </div>
//     </div>
//     <div class="b-bnr g-grid__col-4 g-grid__col-xs-12 b-bnr--video">
//         <div class="b-bnr__inner">
//             <div class="b-bnr__video">
//                 <div class="b-video">
//                     <div class="b-video__holder">
//                         <img src="images/banners/video/video-poster-3.jpg">
//                     </div>
//                 </div>
//             </div>
//             <div class="b-bnr__content">
//                 <h4 class="b-bnr__title"><a class="b-bnr__title-link" href="https://www.youtube.com/watch?v=tCuz3_hq1AI" target="_blank">Meccano-Erector – MeccaSpider…</a></h4>
//                 <div class="b-bnr__text">Short description can go onto 2 lines maximum &amp; can work with</div>
//             </div>
//         </div>
//     </div>
// </div>
//
// Styleguide 8.3

.b-bnr--video {
    @media (--extra-small) {
        margin-bottom: baseline(5);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .b-bnr {
        &__video {
            margin-bottom: baseline(3);
        }

        &__title {
            font-weight: $font-main-bold;
            line-height: $line-height-medium;
            margin-bottom: baseline(0.5);

            &-link {
                color: color(black);
            }
        }

        &__text {
            font-size: $font-size-small;
            line-height: $line-height-small;
        }
    }
}
