@mixin i-chest() {
    display: inline-block;
    vertical-align: middle;
    font-size: 155px;
    line-height: 1;
    background-image: url("../images/chest.svg");
    background-repeat: no-repeat;
    background-size: 5.84516129032258em 3em;
}
[class*="i-chest--"]::before,
[class*="i-chest-after--"]::after {
    @include i-chest;
}

@mixin i-chest--large() {
    content: "";
    background-position: 0em 0em/*rtl:ignore*/;
    width: 1.9483870967741936em;
    height: 1em;
}
.i-chest--large::before,
.i-chest-after--large::after {
    @include i-chest--large;
}

@mixin i-chest--medium() {
    content: "";
    background-position: -1.9483870967741936em -1em/*rtl:ignore*/;
    width: 1.9483870967741936em;
    height: 1em;
}
.i-chest--medium::before,
.i-chest-after--medium::after {
    @include i-chest--medium;
}

@mixin i-chest--small() {
    content: "";
    background-position: -3.8967741935483873em -2em/*rtl:ignore*/;
    width: 1.9483870967741936em;
    height: 1em;
}
.i-chest--small::before,
.i-chest-after--small::after {
    @include i-chest--small;
}

