.b-desc-product {
    @include list-style-marker(
        $title: '&__title',
        $item: '&__item'
    );

    @media (--extra-small) {
        border-bottom: 1px solid color(grey, 3);
        margin-bottom: baseline(3);
        padding-bottom: baseline(1);
    }
}